body{
  background-image: linear-gradient(#ffafbd, #bdcebd);
  min-height: 100vh;
}

/* .h1{
  font: center;
} */

li{
  list-style-type: none;
  background-color: #82aaaa;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
  width: 800px;
}


/* .input_box{
  list-style-type: none;
  background-color: #82aaaa;
  border-width: 1px;
  border-style: solid;
  padding: 2px;
  width: 800px;
}

.output_box{
  list-style-type: none;
  background-color: #dbedf0;
  border-width: 1px;
  border-style: solid;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 800px;
} */
